<div class="container col-lg-10 mx-auto mt-3 bg-light">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
      <div class="card text-center mb-3 rounded-0 shadow current_user_profile">
        <div class="card-body">
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image, style: "width: 130px; max-width:100%;", class: 'border border-3 rounded-circle mb-3 mt-3' %>
          <% end %>
          <%= link_to member_path(current_user), style: "text-decoration:none;" do %>
            <h5 class="text-dark"><%= current_user.name %></h5>
          <% end %>
          <small class=" text-muted"><%= current_user.profile_title %></small>
          <hr>
          <p><%= pluralize(current_user.connections.count, "Connection") %></p>
          <hr>
          <%= link_to 'My Job', user_my_jobs_path(current_user), style: 'text-decoration:none;'%>  
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 mt-3">
      <div class="card col-lg-10 col-md-8 col-sm-12 mx-auto mb-2 rounded-0 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-1 col-12 mb-2 d-grid">
              <% if current_user.image.attached? %>
                <%= image_tag current_user.image, style: "width: 50px;", class: "mt-2 border border-3 rounded-circle" %>
              <% end %>
            </div>
            <div class="col-md-11 col-12 mt-1 mb-3 d-grid">
              <%= link_to new_post_path, class: "d-flex btn btn-outline-light text-dark border py-2 rounded-pill mr-1 pr-5 mt-2", data: { controller: "bs-modal-form" } do %>
              Start a Post
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'home/post_sort' %>        
      <%= render 'home/posts' %>
    </div>
  </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
</div>